:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: hsl(224, 32%, 12%);
  background-image: conic-gradient(
    from 0deg at 50% 50%,
    blue,
    purple,
    purple,
    blue
  );

  background-blend-mode: multiply;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* min-block-size: 100dvh; */
  /* background: hsl(224, 32%, 12%);
  background-image: conic-gradient(
    from 0deg at 50% 50%,
    blue,
    purple,
    purple,
    blue
  );
  */

  background-blend-mode: multiply; 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#chart{
  position: relative;
}
/* 
#chart > svg {
  width:100%
} */

#tooltip{
  width: min-content;
  text-align: center;
  position: absolute;
  background: #fff;
  color: #242424;
  padding: 10px;
  border-radius: .5rem;
  white-space: wrap;
}

#tooltip::before{
  content: '';
  position: absolute;
  /* top:0; */
  left: -25px;
  border: 15px solid;
  border-color: #0000 #fff #0000 #0000;

}

